$bgcolor: antiquewhite;
$textcolor: black;
$fontsize: 90px;
$margin-size: 20px;
$text-align: center;
$font-family-base: Comic Sans MS;
$font-family-base2: Dosis;
$width: auto;
$border: 3px solid black;
$Hcolor: black;
$bgcover: cover;


/* Use the variables */


p {
  font-family: $font-family-base2;
}

h1 {
  font-family: $font-family-base;
  font-size: $fontsize;
  color: $Hcolor
}

html, body {
  background-color: $bgcolor;
  -webkit-background-size: $bgcover;
  -moz-background-size: $bgcover;
  -o-background-size: $bgcover;
  background-size: $bgcover;
}

