<!DOCTYPE html>
{% extends "layouts/base.html" %}
{% block meta %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Personality Quiz</title>
    </head>
    <h1>What type of genre are you?</h1>
    <h2>Answer each question 1-5</h2>
    <body>
    <form method="POST">
        <label for="ques1">Are you scared of the dark? 1 being not at all, 5 being you are extremely. </label>
        <input type="number" name="ques1" id="ques1" min="1" max="5">
        <br>
        <label for="ques2">Are you uninterested in space creatures? 1 being interested, 5 being uninterested. </label>
        <input type="number" name="ques2" id="ques2" min="1" max="5">
        <br>
        <label for="ques3">Are you interested in sports? 1 being not at all, 5 being you love sports. </label>
        <input type="number" name="ques3" id="ques3" min="1" max="5">
        <br>
        <label for="ques4">Do your lights stay on when you go to sleep? 1 being not at all, 5 being totally. </label>
        <input type="number" name="ques4" id="ques4" min="1" max="5">
        <br>
        <label for="ques5">Are you really want a relationship? 1 being not at all, 5 being totally. If you are in a relationship, input 5. </label>
        <input type="number" name="ques5" id="ques5" min="1" max="5">
        <br>
        <label for="ques6">Do you find fanfiction monsters uninteresting? 1 being interesting, 5 being uninteresting. </label>
        <input type="number" name="ques6" id="ques6" min="1" max="5">
        <br>
        <label for="ques7">Do you always laugh at jokes? 1 being not at all, 5 being all the time. </label>
        <input type="number" name="ques7" id="ques7" min="1" max="5">
        <br>
        <input type="submit" value="Enter">
    </form>
    <p>You are {{ result }}% interested in brighter movie genres!!</p>
    <br>
    <p>You are {{ moonp }}% interested in darker movie genres!!</p>
    <br>
    {{ mesg }}
    </body>
{% endblock %}
</html>