<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://github.com/PunarvasuS/PopcornCritics/">&nbsp;&nbsp;{{basename}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/top">Top Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/random">Random Movie Generator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quiz">Movie Quiz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/learn">Learn More</a>
            </li>
            <a class="nav-link" href="/notes">Notes</a>

            </ul>
        </div>
        <div class="btn-group">
            <div class="form-check form-switch">
                <input  type="checkbox" onclick="darkFunction()" class="form-check-input" id="darkSwitch">
                <label style='color: dimgray;' class="custom-control-label" for="darkSwitch">Dark Mode</label>
            </div>
        </div>

        {% block navbar_script %}
            <!-- Navigation bar JavaScript support -->
            <script src={{  url_for("static", filename="javascript/navbar.js", version='140') }}></script>
        {% endblock %}
</nav>